@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #1d2939;
  }
  @layer components {
    .spinner {
      margin: 50px auto;
      width: 60px;
      aspect-ratio: 1;
      border-radius: 50%;
      border: 8px solid#ccd8e0;
      border-right-color: #288AD6;
      animation: rotate 1s infinite linear;
    }
  
  
    @keyframes rotate {
      to {
        transform: rotate(1turn);
      }
    }
  }

@layer utilities {
    
    .text-blue-custom {
        @apply text-[#288AD6];
    }
      
   
}   

